@font-face {
  font-family: "Norse-Bold";
  src: url("fonts/myfont.woff") format("woff"),
       url("fonts/Norse-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

button,
input,
select,
textarea {
  font: inherit;
  font-size: 100%;
}

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

html, body {
    height: 100%;
}

.main-content {
    display: flex;
    height: 100vh;
}

.main-hero{
    flex: 1.6;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.hero-img {
    width: 100%;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-logo {
    display: flex;
    height: 120px;
    width: 120px;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}

.hero-logo p{
    color: white;
    font-size: 3rem;
    text-shadow: 1px 1px black;
}

.hero-logo img {
    width: 100%;
}

.main-Signup{
    flex: 2;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-text {
    margin: 2rem 2rem 0 2rem;
    font-size: 1.4rem;
    align-self: flex-start;
}

.intro-subtext {
    margin: 2rem 2rem 4rem 2rem;
    font-size: 1.4rem;
    align-self: flex-start;
}

.form-card {
    /* padding: 50px; */
    font-family: "Roboto", sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 20px 300px 50px 50px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2)
}

.form-card h2{
    margin-bottom: 25px;
    font-weight: 475;
}

/* .form-card h6 {
    margin-bottom: .5rem;
} */

.fields {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
}

.form-group {
    flex: 0 0 calc(50% - 20px);
}

label {
    display: block;
    font-size: .75rem;
    text-transform: uppercase;
    margin-bottom: 3px;
}

input   {
    width: 100%;
    height: auto;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    padding: 8px 10px;
}

button {
    padding: 12px 24px;
    font-size: 1.1rem;
    border-radius: 6px;
    border: none;
    background-color: #1475C5;
    color: white;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 2rem;
    align-self: flex-start;
}

button:hover {
    filter: brightness(90%);
}

.main-Signup p {
    align-self: flex-start;
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1.1rem;
}

.login-text a {
    color: #1475C5;
    text-decoration: none;
    font-weight: 500;
}

input[type = "password"]:user-invalid {
  border-color: red;
}

input:user-valid {
  border-color: green;
}

input:focus {
  border: 2px solid blue;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  outline: none;
}
